<% if resource.errors.empty? %>
  <%= '' %>
<% else%>
  <div class="alert">
    <%= devise_error_messages! %>
  </div>
<% end %>
<h2 class="setting">Resend unlock instructions</h2>
<div class="post">
<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>

  <div><%= f.label :"信箱：" %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div class="submit"><%= f.submit "重新送出", :class => "btn" %></div>
<% end %>
<br>
<hr>
<%= render "devise/shared/links" %>
</div>