<!DOCTYPE html>
<html>
<head>
  <title>Bloggy</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel=stylesheet type="text/css" href="assets/stylesheets/style.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper" class="clearfix">
	<div class="header">
		<div id="logo">
			<h1><%= link_to "Bloggy", root_path %></h1>
			<p>二次練習Blog</p>
		</div>
		<div id="menu">
			<ul class="main_menu">
				<li class="lsf-icon about">
					<%= link_to "About Us", pages_about_path %>
					<div class="underscore"></div>
				</li>
				<li class="lsf-icon blogpost">
					<%= link_to "Blog Post", admin_posts_path %>
					<div class="underscore"></div>
				</li>
				<li class="lsf-icon contact">
					<%= link_to "Contact", pages_contact_path %>
					<div class="underscore"></div>
				</li>
				<li class="lsf-icon home">
					<%= link_to "Home", root_path %>
					<div class="underscore"></div>
				</li>
			</ul>
		</div>
	</div>

	<div class="content">
		<% if notice %>
			  <p class="alert alert-success"><%= notice %></p>
			<% end %>
			<% if alert %>
			  <p class="alert alert-danger"><%= alert %></p>
			<% end %>
		<%= yield %>
	</div>