<!DOCTYPE html>
<html>
<head>
  <title>Bloggy</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper" class="clearfix">
	<div class="header">
		<div id="logo">
			<h1><%= link_to "Bloggy", root_path %></h1>
			<p>二次練習Blog</p>
		</div>
		<div id="menu">
			<ul class="main_menu">
				<li><%= link_to "About Me", pages_about_path %></li>
				<li><%= link_to "Blog Post", posts_path %></li>
				<li><%= link_to "Contact", pages_contact_path %></li>
				<li><%= link_to "Home", root_path %></li>
			</ul>
		</div>
	</div>

	<div class="content">
		<% if notice %>
			  <p class="alert alert-success"><%= notice %></p>
			<% end %>
			<% if alert %>
			  <p class="alert alert-danger"><%= alert %></p>
			<% end %>
		<%= yield %>
	</div>