<div class="sidebar">
	<div id="toggle-sidebar" class="lsf-icon search">search bar</div>
	<ul>
		<li>
			<h2>文章目錄</h2>
			<ul><% all_categories.each do |cat| %>
				<li><p><%= link_to cat.name, category_path(:id => cat.id) %>
				</p></li>
				<% end %>
			</ul>
		</li>
		<li>
			<h2>文章列表</h2>
			<ul><% all_posts.each do |post| %>
				<li><p><%= link_to post.title, admin_post_path(:id => post.id) %>
				</p></li>
				<% end %>
			</ul>
		</li>
		<li>
			<h2>LOGIN</h2>
			<ul>
				<% if user_signed_in? %>
  				<p><strong><%= current_user.user_name %></strong>登入中！</p><br />
  				<li><p><%= link_to '帳號資訊', edit_user_registration_path, :class => 'navbar-link' %></p></li>
  				<li><p><%= link_to '新增文章', new_admin_post_path %></p></li>
  				<li><p><%= link_to '管理後台', pages_admin_path %></p></li>
  				<li><p><%= link_to "登出", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></p></li>
				<% else %>
				<li><p><%= link_to "加入會員", new_user_registration_path, :class => 'navbar-link' %></p></li>
				<li><p><%= link_to "會員登入", new_user_session_path, :class => 'navbar-link' %></p></li>
				<% end %>
			</ul>
		</li>
	</ul>
</div>

