<% if resource.errors.empty? %>
  <%= '' %>
<% else%>
  <div class="alert">
    <%= devise_error_messages! %>
  </div>
<% end %>
<h2 class="setting">更改密碼</h2>
<div class="post">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <span class="lsf-icon" title="stop"><%= f.label :"密碼：", "New password" %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %></span>

  <span class="lsf-icon" title="stop"><%= f.label :"確認密碼：", "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></span>

  <div class="submit"><%= f.submit "確認更改", :class => "btn" %></div>
<% end %>
<br>
<hr>
<%= render "devise/shared/links" %>
</div>