<div class="post-user">
	<% @users.each do |user| %>
		<div class="user">
      <div class="user-gravatar">
        <p><%= user.user_name %></p>
        <%= image_tag user.gravatar_url %><br>
      </div>
      <div class="user-info">
        <span class="lsf-icon" title="github"><%= link_to '',"https://github.com/OtiAnn/" %></span>
        <span class="lsf-icon" title="facebook"><%= link_to '',"http://www.facebook.com/AnnieChen5/" %></span>
        <span class="lsf-icon" title="blogger"><%= link_to '',"http://anniebh.blogspot.tw/" %></span>
      </div>
    </div>
	<% end %>
</div>
