<% @posts.each do |post| %>
  <div class="post">
    <h3 class="category"><%= post.category.name if post.category_id? %></h3>
    <h2 class="title"><%= link_to post.title, post_path(post) %></h2>
    <div class="note"><small>
      <span class="lsf-icon" title="user"><%= post.user.user_name %></span>
      <span class="lsf-icon" title="calendar"><%= post.created_at.strftime("%b %d, %Y") %></span>
      <span class="lsf-icon" title="comments">
      <%= post.comments.count %></span>
      <span class="lsf-icon" title="view"><%= post.posts_count %></span>
    </small></div>
    <%#= truncate(post.body, length: 100) %>
  </div>
<% end %>
<div class="apple_pagination">
  <%= will_paginate @posts,
      :previous_label => "&#8592; Previous",
      :next_label     => "Next &#8594;",
      :page_gap => "&hellip;" %>
</div>