<%= form_for [:admin, @post] do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div><br><br>
    <%= f.label :"文章標題" %><br><br>
    <%= f.text_field :title %>
  </div>
  <br />
  <div>
    <%= f.label :"文章內容" %><br><br>
    <%= f.text_area :body %>
  </div>
  <br />
  <div>
    <%= f.label :"上傳圖片" %><br><br>
    <%= f.file_field :picture %>
  </div>
  <br />
  <div>
    文章類別：<%= f.select :category_id, Category.all.collect {|x| [x.name, x.id]},{:include_blank => "選擇類別"} %><br>
  </div>
  <br />
  <div class="submit">
    <%= f.submit %>
  </div>
<% end %>
