<% @posts.each do |post| %>
<div class="post">
	<h2 class="title"><%= link_to post.title, admin_post_path(post) %></h2>
	<div class="note"><small>文章作者：<%= post.user.user_name %>&nbsp;&nbsp;|&nbsp;&nbsp;發表時間：<%= post.created_at.strftime("%b %d, %Y") %></small></div>
	<p><%= truncate(post.body, length: 100) %></p>
	<div class="note">
		<span class="lsf-icon comments">
		<%= post.comments.count %></span> ｜ 
		<span class="lsf-icon readmore">
		<%= link_to "Read more..", admin_post_path(post) %></span>
	</div>
</div>
<% end %>