<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div><br><br>
    <span class="lsf-icon" title="stop"><%= f.label :"文章標題" %></span><br><br>
    <%= f.text_field :title %>
  </div>
  <br />
  <div>
    <span class="lsf-icon" title="stop"><%= f.label :"文章內容" %></span><br><br>
    <%= f.text_area :body %>
  </div>
  <br />
  <div>
    <span class="lsf-icon" title="stop"><%= f.label :"上傳圖片" %></span><br><br>
    <%= f.file_field :picture, :class => "upload" %>
  </div>
  <br />
  <div>
    <span class="lsf-icon" title="stop">文章類別：</span><%= f.select :category_id, Category.all.collect {|x| [x.name, x.id]},{:include_blank => "選擇類別"} %><br>
  </div>
  <br />
  <div class="submit">
    <%= f.submit :"送出", :class => "btn" %>
  </div>
<% end %>
