<div class="post">
	<h3 class="category"><%= @post.category.name if @post.category_id? %></h3>
    <div class="editrm">
      <% if current_user.present? %>
        <% if current_user.id == @post.user_id %>
          <%= link_to '', post_path(@post), method: :delete, data: { confirm: "確定刪除「#{@post.title}」嗎？" }, :class => "lsf-icon", :title => "remove" %>
          <%= link_to '', edit_post_path(@post), :class => "lsf-icon", :title => "edit" %>
        <% end %>
      <% end %>
    </div>
  <h2 class="title"><%= @post.title %></h2>
  <%= raw @rd %><br>
  <%= image_tag(@post.picture_url, width: '100%') if @post.picture.present? %>
  <div class="note">
    <br>
    <small>
      <span class="lsf-icon" title="user"><%= @post.user.user_name %></span>
      <span class="lsf-icon" title="calendar"><%= @post.created_at.strftime("%b %d, %Y") %></span>
    </small>
  </div>
</div>

<div class="comment">
	<h3 class="category">訪客回應</h3>
	<% @post.comments.each do |comment| %>
		<div id="user_name" class="lsf-icon" title="comment"><%= comment.user_name %></div>
			<p><%= comment.body %></p>
      <% if current_user.present? %>
        <% if current_user.admin == true %>
          <%= link_to '', comment, method: :delete, data: { confirm: '確定刪除這個回應嗎？' }, :class => "lsf-icon editcom", :title => "remove" %>
        <% end %>
      <% end %>
	<% end %>
  <br />
	<%= render 'comments/form' %>
  <br />
</div>