<div class="post">
	<h2 class="title"><%= @post.title %></h2>
	<p>
	  <%= @post.body %>
	</p>
  	  <%= @post.picture %>
</div>

<div class="comment">
	<h3 class="title">訪客回應</h3>
	<% @post.comments.each do |comment| %>
		<div id="user_name"><%= comment.user_name %></div>
			<p><%= comment.body %></p>
	<% end %>
<br />
	<%= render 'comments/form' %>
<br />
<br />
</div>