<!DOCTYPE html>
<html>
<head>
  <title>Bloggy</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper" class="clearfix">
  <div class="header">
    <div id="logo">
      <p>My Second Life</p>
      <h1><%= link_to "Bloggy", root_path %></h1>
    </div>

    <%= render 'partials/navbar' %>
  </div>

  <div class="content">
    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    <%= yield %>
  </div>

  <%= render 'partials/sidebar' %>

  <%= render 'partials/footer' %>
</div>
</body>
</html>